#heading{
    text-align: center;
    font-family: 'Raleway';
    font-size: 40px;
    text-decoration: underline;
}

#searchbox{
    display: flex; 
    align-items: center;
}

#city{
    margin-left: 50px;
    width: 300px;
    font-family: 'Raleway';
    height: 30px;
}

#search{
    margin-left: 10px;
}

.map {
    margin-top: 30px;
    width: auto;
    height: 800px;
}

a.skiplink {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
a.skiplink:focus {
    clip: auto;
    height: auto;
    width: auto;
    background-color: #fff;
    padding: 0.3em;
}
#map:focus {
    outline: #4A74A8 solid 0.15em;
}

.textbox {
    background-color: white;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

#error-message{
    color: red;
    margin-left: 50px;
}

#forcast{
    text-align: center;
    font-family: 'Raleway';
    font-size: 30px;
    margin-top: 60px;
}

.chart-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100vw; 
    margin-top: 60px;
}